
<div class="ui three column grid">
    <div class="column"></div>
    <div class="column segment"><h1>开放、生态、无限可能！<br>从此，Web App不再孤单。</h1></div>
    <div class="column"></div>
</div>

<div class="ui five column grid" ng-controller="manageController">
    <div class="column"></div>
    <div class="column"></div>
    <div class="ui button massive green column labeled icon" ng-click="btnUploadClick()"><i class="icon upload"></i>提交应用</div>
    <div class="column"></div>
    <div class="column"></div>
</div>